<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Express app</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
      <form action="/invite" method="post">
        <div>
          <h1>invitations app</h1>
          <label for="">title</label>
          <input type="text" name="title"/>
          <label for="">description</label>
          <textarea name="description" id="" cols="30" rows="10"></textarea>
          <label for="">image</label>
          <select name="image" id="">
            <option value="gentlePeach">gentle peach</option>
            <option value="greenSwirls">green swirls</option>
            <option value="flowers">flowers</option>
          </select>

        <button>submit</button>
      </div>
      </form>
  </body>
</html>