<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express app</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>
  <form action="/invite" method="post">
      <label for="">title</label>
      <input type="text" name="title"/>
      <label for="">description</label>
      <textarea name="description" id="" cols="30" rows="10"></textarea>
    <button>submit</button>
  </form>
</body>
</html>