form {
  display: flex;
  justify-content: center;
}

label {
  display: block;
}

input, textarea, select {
  border: 1px solid grey;
  resize: none;
  display: block;
  font-family: inherit;
  font-size: inherit;

}

button {
  border: 1px solid grey;
  background: #F2F2F2;
  font-family: inherit;
  padding: 5px;
}